/* shared styles  */

.container {
  margin: 120px 140px;
  align-items: center;
}
/* ================================================banner section style ================================================*/
.bannerSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Banner\ Image.png");
  margin: 50px 140px;
  height: 600px;
  text-align: center;
}
.bannerContent {
  align-items: center;
  padding: 130px;
}
.bannerContent h4 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
}
.bannerContent h2 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
}

/* ================================================catagory section styles  ================================================*/
.allCatagory {
  padding: 120px;
}
.allCatagoryContent {
  text-align: center;
}
.offerDiscount {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}
.allCatagoryContent h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.allCatagoryText {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
/* ================================================mid night party section styles ================================================*/

.midPartyJoinSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-image: linear-gradient(
      90deg,
      #070211 0%,
      rgba(239, 230, 255, 0) 100%
    ),
    url("../img/Vectorrr.png");

  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.partySectionContent {
  align-items: center;
  padding: 126px 0 126px 126px;
}
.partySectionTitle {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.partySectionDescription {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.joinLink {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin: 48px 0 0 32px;
}

.midPartyImages {
  padding: 68px;
}

/* ================================================schedule  section styles================================================  */

.scheduleContainer {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
}
.scheduleContent {
  padding: 100px 300px;
}
.dateAndTime {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}
.textColor {
  color: #f00;
  text-align: center;
}
.joinNowBtn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  border: 0;
}

/* ================================================best seller section styles ================================================ */

.bestSellerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.bestSellTitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.collumn h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.bestSellerDescription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.bestSellTitleYear {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.bestSellDescription {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.groupImg {
  border: 50px solid white;

  outline: 16px solid #f00;
  border-radius: 50%;

  outline-offset: -20px;
}

/*================================================ holiday section styles ================================================*/

.holidayContainer {
  margin: 140px;
  align-items: center;
}
.holidayContent {
  text-align: center;
}
.functionalText {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.SectionTitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.sectionDescription {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; 
}
.imageDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  vertical-align: bottom;
}
.firstImg {
  z-index: 2;
  position: relative;
  margin-top: 90px;
}
.firstImg img {
  width: 600px;
}
.secondImg {
  z-index: -2;
  position: relative;
}
.secondImg img {
  width: 400px;
}

.DiscountImg {
  position: absolute;
  margin-left: 200px;
  margin-top: 10px;
}
.DiscountImg img {
  width: 200px;
}
.redBg {
  margin-top: 450px;
  position: absolute;
  z-index: -1;
  align-items: center;
}
.redBg img {
  width: 1020px;
}

/* ================================================portfolio section style  ================================================*/

.portfolioContainer {
  margin: 140px;
}
.portfolioSubTitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolioTitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.portfolioDescription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.imageContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  flex-wrap: wrap;
}
.imageContainer img {
  width: 330px;
  border-radius: 16px;
  transition: 1sec ease-in-out;
}
.imageContainer img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ================================================newsletter section styles ================================================ */

.newsLetterContaniner {
  margin: 140px;
  align-items: center;

  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.newsLetterContant {
  text-align: center;
  padding: 80px;
}
.SectionTitle {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribeDescription {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
#subscribeInput {
  width: 300px;
  border: 0;
  padding: 17px;
  border-radius: 50px 0px 0px 50px;
}
.subscribeBtn {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 13px;
  border: 0;
  margin: 20px -10px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}

/* ================================================footer section styles ===================================================*/

footer {
  background: #070211;
}
.address {
  display: flex;
  justify-content: space-between;
  padding: 140px 140px 50px 140px;
}
.contactAddress {
  display: flex;
  flex-direction: column;
}
.contactAddress .phoneNumber img {
  width: 24px;
  height: 30px;
  padding: 10px;
}
.phoneNumber {
  display: flex;
  align-items: center;
}
.website {
  display: flex;
  align-items: center;
}
.website img {
  padding: 10px;
}
.address h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
hr {
  background: rgba(255, 255, 255, 0.15);
  margin: 0 100px;
}
.socialIcon {
  margin: 48px 100px;
  align-items: center;
  text-align: center;
}
.icons img {
  width: 50px;
  padding: 10px;
}
.copyRightArea {
  display: flex;
  justify-content: space-between;
  color: #fff;

  align-items: center;
  text-align: center;

  padding: 100px;
}
.copyRightArea h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
